<div class="navbar navbar-default">
  <div class="container-fluid">
    <button type="button" class="btn btn-group"
     routerLink = '/home' routerLinkActive="active">
      Home
    </button>
    <button type="button" class="btn btn-group" 
    routerLink = '/products' routerLinkActive="active">
      Products
    </button>
    <button type="button" class="btn btn-group" 
    routerLink = '/add' routerLinkActive="active">
      Add Product
    </button>
    <button type="button" class="btn btn-group" 
    routerLink = '/drag-drop' routerLinkActive="active">
      Drag-Drop
    </button>
  </div>
</div>
<router-outlet></router-outlet>
